body{
    background-color: #E0BFE6;

}
span{
    font-family: 'esamanruLight';
    font-size: 15px;
}

.text{
    margin-bottom: 0px;
    margin-top: 8px;
}
.top_box{
    background-color: #E0BFE6;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 20%;
}
.information_content{
    background-color: white;
    box-sizing: border-box;
    width: 40%;
    border: solid #692498 5px;
    text-align: center;
    padding: 5px;
    font-family: 'esamanruLight';


}

.informaion_title_box{
    display: grid;
    grid-column: 1/4;
    grid-row:1;
    margin-top: 20px;
    padding-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
    justify-content: center;
    border-bottom: solid #692498 5px;
    background-color: white;
}

.information_input_content{
    display: grid;
    grid-template-columns:50% 50%; 
    font-size: 30px;
    justify-content: center;
    background-color: white;

}

.left_div{
    grid-column: 1/2;
    margin-top: 20px;
    padding-bottom: 40px;
    font-size: 15px;
    text-align: start;
    justify-content: center;
    margin-left: 5%;
}

.right_div{
    grid-column: 2/3;
    margin-top: 20px;
    padding-bottom: 20px;
    font-size:15px;
    text-align: start;
    margin-left:5%;
    justify-content: center;
}


.input_box{
    display: block;
}
.input_box input{
    width: 80%;
}


.modify_success_box{
    font-size: 30px;
    justify-content: center;
     border-radius: 50%;
     margin-right: 10px;
}

