body{
    background-color: #E0BFE6;

}
.signup_box{
    background-color: #E0BFE6;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.signup_content{
    background-color: white;
    box-sizing: border-box;
    width: 50%;
    border: solid #692498 5px;
    text-align: justify;
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 2fr 0.5fr;
    grid-template-rows: repeat(8, 1fr);
}
.title_box{
    display: grid;
    grid-column: 1/4;
    margin-top: 20px;
    padding-bottom: 20px;
    font-size: 30px;
    border-bottom:  solid #692498 5px;
    justify-content: center;
}
.signup_text{
    grid-column: 1/2;
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
   
}
.signup_input_box{
    grid-column: 2/3;
    margin-top: 20px;
   
    font-size: 20px;
    justify-content:left;

    
}


.check_box {
    display: grid;
    grid-template-columns:10% 25% 10% 25%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    justify-content: left;
    align-items: center;
}

.link_box{
    display: grid;
    grid-template-columns:50% 50%;
    grid-column: 2/4;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    justify-content: center;
    
}

.signup_success_box{
    display: grid;
    grid-template-columns:25%;
    grid-column: 1/4;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    justify-content: center;
}
