body{
    background-color: #E0BFE6;

}
.signup_box{
    background-color: #E0BFE6;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 30%;
    
}

.signup_content{
    box-sizing: border-box;
    width: 35%;
    border: solid #692498 5px;
    text-align: center;
    padding: 0px;
    background-color: white;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-template-rows: repeat(2, 1fr);
}
.title_box{
    display: grid;
    grid-column: 1/4;
    margin-top: 20px;
    padding-bottom: 20px;
    font-size: 30px;
    border-bottom:  solid #692498 5px;
    justify-content: center;
}
.signup_text{
    grid-column: 1/2; 
    float:right;
    font-size: 20px;
    text-align: right;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10%;
    margin-left: 30%;
   
}
.signup_input_box{
    grid-column: 2/3;
    margin-top: 20px;
   
    font-size: 20px;
    justify-content:left;

    
}


.check_box {
    display: grid;
    grid-template-columns:10% 15% 10% 15%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    justify-content: left;
    align-items: center;
}

.link_box{
    display: grid;
    grid-template-columns:50% 50%;
    grid-column: 2/4;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    justify-content: center;
    
}

.signup_success_box{
    display: grid;
    grid-template-columns:50%;
    grid-column: 1/4;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    justify-content: center;
}
