body{
    background-color: #E0BFE6;

}

.login_box{
    background-color: #E0BFE6;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.login_content{
    box-sizing: border-box;
    width: 35%;
    border: solid #692498 5px;
    text-align: center;
    padding: 0px;
    background-color: white;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-template-rows: repeat(2, 1fr);
}



.login_text{
    grid-column: 1/2; 
    font-size: 25px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
margin-left: 50%;
    
}
.login_input_box{
    grid-column: 2/3;
    margin-top: 20px;
    font-size: 25px;
    justify-content: left;
}

.check_box {
    margin-top: 5%;
    display: grid;
    grid-template-columns:5% 20% 5% 20%;
    grid-column: 2/4;
    font-size: 20px;
    justify-content: left;
}

.check_box_my {
    margin-top: 5%;
    display: grid;
    grid-template-columns:10% 30% 10% 30%;
    grid-column: 2/4;
    font-size: 20px;
    justify-content: left;
}


span{
    font-family: 'esamanruLight';
}

.link_box{
    display: grid;
    grid-template-columns:30% 30%;
    margin-top: 0px;
    margin-bottom: 0px;
    justify-content: center;
}
